.home {
    height: auto;
    width: 100%;
    top: 0px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fff;
}

.headerImage {
    width: 100%;
    height: 700px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.breaker {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(24, 128, 195, 0.2), rgba(24, 128, 195, 0.75), rgba(24, 128, 195, 0.2));
}

.home-video-header {
    width: 100%;
    height: 700px;
}

.headerTextDiv {
    position: relative;
    width: 80%;
    margin: auto;
}

.headerText {
    color: #000;
    font-size: 45px;
    text-align: left;
}

.headerText span{
    background-color: #1880c3;
    color: #fff;
    padding: 10px;
}

.playButton {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #fff;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.playButtonIcon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.videoView {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 200;
    overflow: hidden;
}

.about-video-detail {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    overflow: hidden;
}

.about-video-inline {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.why-us-content {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    padding: 20px;
}

.why-us-content-text {
    color: #000;
    font-size: 22px;
    text-align: middle;
    margin: 30px auto;
    width: 100%;
    font-family: 'Poppins';
}

.why-us-headline {
    color: #fff;
    font-size: 32px;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.why-us-headline span {
    padding: 3px;
    background-color: #1880c3;
}

.WAMI-info {
    width: 80%;
    margin: auto;
}

.contact-box-new {
    height: 750px;
    width: 60%;
    margin:  auto;
    position: relative;
    z-index: 10;
    background-color: #fff;
    overflow-y: hidden;
    border-radius: 4px;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .contact-box-header {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
  }
  
  .form {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .submitButton {
    margin: auto;
  }
  
  .textField {
    width: 100%;
    text-align: center;
    position: relative;
  }

  .products-list-hardware-home {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    height: auto;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 60px;
    padding-top: 0px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 1px 4px;
}

.header-solutions {
    width: 90%;
    margin: auto;

}

.header-solutions p{
    color: #1880c3;
    font-size: 42px;
    text-align: left;
    font-family: 'Poppins';
}